@import './_variables';
@import "./_mixins";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";

/* Botón Cancelar (fondo blanco con texto morado) */
.btn-cancelar {
    background-color: white;
    color: #6366F1;  /* Morado */
    border: 1px solid #ffffff;
  }
  
  .btn-cancelar:hover {
    background-color: #f5f5f5;  /* Gris claro */
    color: #5e36a3;  /* Morado más oscuro */
  }
  
  /* Botón Guardar (fondo blanco con texto morado) */
  .btn-guardar {
    background-color: white;
    color: #6366F1;  /* Morado */
    border: 1px solid #ffffff;
  }
  
  .btn-guardar:hover {
    background-color: #f5f5f5;  /* Gris claro */
    color: #5d19d3;  /* Morado más oscuro */
  }
  
/* Estilo para el botón de editar (ícono de lápiz) */
.btn-editar {
    color: #6366F1;  /* Morado */
  }
  
  .btn-editar:hover {
    color: #5e36a3;  /* Morado más oscuro */
  }
  
  /* Estilo para el botón de eliminar (ícono de papelera) */
  .btn-eliminar {
    color: #f44336;  /* Rojo */
  }
  
  .btn-eliminar:hover {
    color: #d32f2f;  /* Rojo más oscuro */
  }
  .is-invalid {
    border-color: #dc3545 !important;
  }
  .text-danger {
    color: #dc3545 !important;
  }
  .d-none {
    display: none !important;
  }

  /* Botón Verde SIGMOT para "Nuevo Vehículo" */
  .btn-verde {
    background-color: #22c55e;     /* Verde institucional */
    color: white;
    border: none;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }

  .btn-verde:hover {
    background-color: #15763a;     /* Verde más oscuro al pasar el mouse */
  }


@import './_variables';
@import "./_mixins";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";


// --- Botones específicos ---
.btn-ver {
  color: #6366F1;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: rgba(44, 132, 216, 0.1);
  }
}

.detalle-vehiculo {
  font-size: 1rem;
  line-height: 1.6;
  p {
    margin: 0.5rem 0;
  }
}

.p-dialog {
  max-width: 650px !important;
  width: 130vw !important;
}

.p-dialog .pi-exclamation-triangle {
  flex-shrink: 0;
  margin-top: 4px;
}



